BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 2
TabWidth: 2
UseTab: Always
ContinuationIndentWidth: 0
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
CompactNamespaces: true
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpaceBeforeAssignmentOperators: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
ReflowComments: false
